[Unit]
Description=PhaseForge Gunicorn Service
After=network.target

[Service]
User=www-data
Group=www-data

WorkingDirectory=/var/www/phaseforge

Environment="PATH=/var/www/phaseforge/venv/bin"

ExecStart=/var/www/phaseforge/venv/bin/gunicorn \
--workers 3 \
--bind 127.0.0.1:8003 \
app:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target